---
---

<!DOCTYPE html>
<html lang="zh-TW">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-9C1QYSMJGZ"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'G-9C1QYSMJGZ');
	</script>

	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.app_name }}</title>
	<meta name="description" content="{{ site.app_description }}">

	<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icon/32.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icon/16.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icon/180.png' | relative_url }}">

	{% if site.enable_smart_app_banner %}
	<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
	{% endif %}

	{% seo %}

	<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css"
		integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg=="
		crossorigin="anonymous" referrerpolicy="no-referrer">
</head>

<body>
	{% include navbar.html %}

	<main style="margin-top: 80px; padding: 4rem 2rem; max-width: 1400px; margin-left: auto; margin-right: auto;">
		{{ content }}
	</main>

	{% assign home = '/' | relative_url %}
	{% include footer.html anchor_base=home %}
</body>

</html>
